.homeList {
  background: radial-gradient(
    circle at 18.7% 37.8%,
    rgb(250, 250, 250) 0%,
    rgb(225, 234, 238) 90%
  );

  width: 90vw;
  height: 75vh;
  box-sizing: border-box;
  overflow: scroll;
  overflow-x: hidden;
  font-family: 'Neue Haas Grotesk Display Pro', Arial, sans-serif;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
}

.homeListPart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 60%;
  overflow: hidden;
  overflow-x: hidden;
  background-color: #8bc6ec;
  background-image: linear-gradient(135deg, #8bc6ec 0%, #9599e2 100%);
  border-radius: 10px;
  color: #303030;
}

.titleHomeList {
  font-size: 20px;
  font-family: 'Neue Haas Grotesk Display Pro', Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #303030;
  text-align: center;
}

.apiHomeList {
  background-color: beige;
  width: 75%;
  height: 300px;
  overflow: hidden;
  border-radius: 10px;
}

.homeListEach {
  background-color: white;
  height: 97px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 3px solid #303030;
}

.homeListApiText {
  color: #303030;
  margin-left: 5px;
  font-size: 12px;
  border-radius: 10px;
  padding: 5px;
  box-shadow: rgba(6, 24, 44, 0.2) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.45) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.01) 0px 1px 0px inset;
  background-color: white;
}

.homeListId {
  margin-bottom: 15px;
}
